<div class="card">
  <section class="where-to-buy" style="text-align: left">
    <h2 style="text-align: center">Buy in Person</h2>
    <h3>Events</h3>
    <p style="margin-top: 0.25rem; margin-bottom: 0">
      Looking for upcoming in-person events?<br />
      <a href="/events/">Visit the Events page →</a><br />
      <a href="/events/#past-events">See where KKC has popped up before →</a>
    </p>
    <br />
    <h3>Workplace Pop-Ups</h3>
    <p style="margin-top: 0.25rem; margin-bottom: 0">
      Planning an employee market, gifting event, or local maker day?<br />
      Kiln Kissed Ceramics is available for select Bay Area workplace
      pop-ups.<br />
      <a href="/pop-ups/workplace/">Invite KKC to your workplace →</a>
    </p>
    <br />
    <h3>Brick + Mortar Locations</h3>
    <a
      href="https://www.blossomhillcrafts.com/bhc-store.html#/"
      rel="noopener"
      target="_blank"
      >Blossom Hill Crafts Store</a
    ><br />
    <em>Where:</em> 354 East Campbell Avenue, Campbell, CA
  </section>
</div>
